/*copied style from index.html so that the header images are the same size and style
  Jorne Janssens*/
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*changed it to "header img" from "img" so that it only selects the images in the header
  Jorne Janssens*/
header img {
    max-height: 100%;
    max-width: 100%;
}

/*edited height for the logo at the footer
  Jorne Janssens*/
footer #logo_footer {
    width: 260px;
    height: 72px;
}

/*fixed issue where webstorm gives a warning about the original image being 200px,
  gave the image an id (logo_header) and moved it's "height=68px" to the contact.css instead.
  Jorne Janssens*/
#logo_header {
    height: 68px;
}
#block_1{
    background-image: url(../assets/img/building_background.webp);
    background-size: cover;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
    margin-top: -100px;
}
#block_2{
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
    margin-top: -100px;
}
#contact{
    min-height: 400px;
}
#iconphone{
    width: 50px;
}
#iconlocation{
   width: 50px;
}
#iconmail{
    width: 50px;
}
