/*Dit is een testcomment please deleted*/
#footer-top {
    color: #fff;
    font-size: 0.875em;
}
#footer-bottom {
    font-size: 0.625em;
}
#footer-logo {
    height: 95.46px;
    display: block;
}
#footer-top a, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
}
.footer-line-decoration-hori{
    padding: 1px 0 0 0;
    width: 200px;
  }
  .footer-line-decoration-verti{
    padding: 0 0.5px 0 0;
    height: 100px;
    width: 0;
  }
#social li {
   display: inline-block;
   vertical-align: top;
   white-space: normal;
}
#social img {
    height: 18.2px;
    margin: 0px 10px 0px 10px;
    display: block;
}