div{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img{
    max-height: 100%;
    max-width: 100%;
}

header{
    background: rgba(0, 0, 0, 0.8);
}

header div[class^='col-'] *{
    padding: 0;
}

.btn-header{
    height: 38px;
    width: 38px;
}

#header-logo{
    height: 48px;
}

@media only screen and (max-width: 992px) {
    #header-first{
        margin-top: 1em;
    }
}
