body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.btn-size-normal{
  width: 144px;
  height: 40px;
  font-size: 18px;
}
.btn-size-big{
  width: 169px;
  height: 47px;
  font-size: 21px;
}

#intro{
  padding: 50px 0 0 0;
  background-image: url("../assets/img/home_intro_background.png");
  background-size: cover;
}

#intro_logo{
  width: 180px;
}

.line-decoration-horizontal{
  padding: 1px 0 0 0;
  width: 200px;
}

.line-decoration-vertical{
  width: 1px;
}

.specificationImageContainer{
  height: 8vw; /*-> 20vw @ 768px*/
  max-height: 100px;
}

#event{
  background-image: url("../assets/img/event_background.png");
  background-size: cover;
  background-position: center;
}

#event > div:first-child{
  background: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 768px) {
  #specificationsConsoleImage{
    width: 90%!important;
    max-width: 400px!important;
    margin: 1em 0;
  }

  #specificationSections div:nth-child(2){
    border: var(--secondary) solid!important;
    border-width: 1px 0!important;
    padding: 2em 0;
    margin: 2em 0;
  }

  .specificationImageContainer{
    height: 20vw;
  }
}
@media only screen and (max-width: 576px) {
  #visualPerformanceCards > div:nth-child(1){
    border: var(--secondary) solid!important;
    border-width: 0 0 1px 0!important;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }

  #visualPerformanceCards div:nth-child(2){
    display: none; /*seperation line*/
  }

  #visualPerformanceCards div{
    width: 85%;
    max-width: 350px;
  }

  #visualPerformanceCards img{
    width: 80px;
  }
}

