body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#intro{
  padding: 50px 0 0 0;
  background-image: url("../assets/img/home_intro_background.png");
  background-size: cover;
}

#intro_logo{
  width: 180px;
}

.line-decoration-horizontal{
  padding: 1px 0 0 0;
  width: 200px;
}

.line-decoration-vertical{
  width: 1px;
}

#event{
  background-image: url("../assets/img/event_background.png");
  background-size: cover;
  background-position: center;
}

#event > div:first-child{
  background: rgba(0, 0, 0, 0.4);
}
