body {
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#performance {
    background-image: url("../assets/img/bg-performance.png");
}

.line-decoration-hori{
    padding: 2px 0 0 0;
    width: 200px;
  }

  .line-decoration-verti{
    padding: 0 2px 0 0;
    height: 200px;
  }

  .footer-line-decoration-hori-long {
    padding: 2px 0 0 0;
    width: 1000px;
  }

  #performance td {
    width: 20%;
  }

  #others td, th {
    width: 25%;
  }

  .spacing {
    line-height: 2em;
  }

  .glow-secondary {
      box-shadow: 0 0 1vw #FCA311;
  }

.glow-tertiary {
    box-shadow: 0 0 1vw #E5E5E5;
}